extends layout
block content
    script#url_list_t(type='x-tmpl-mustache')
        {{#title}}
        li.list-group-item.active
            {{text}}
        {{/title}}
        {{#items}}
        li.list-group-item
            a(href='/details/?url={{content}}') {{content}}
        {{/items}}

    #main
        p.title 任务概述：
        include urlist
block customScript
    script(src='/js/perf_index.js')
S



